*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
  
body{
    background-color: #f3d548;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page-wrapper{
    position:relative;
}

@media (prefers-reduced-motion: no-preference) {
    * { 
        scroll-behavior: smooth;
      }
}
  
header{
  position: fixed;
  top: 0;
  min-height: 50px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#f3d548;
  z-index:1000;
}

@media (max-width:600px){
    header{
        flex-wrap:wrap;
    }
}

#nav-bar ul{
    width:35vw;
    display:flex;
    justify-content: space-around;
    flex-direction:row;
}

.logo{
    width:60vw;
}

@media (max-width:650px){
    .logo{
    margin-top: 15px;
    width: 100%;
    position: relative;
    }
}

@media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
  }

li{
    list-style-type: none;
    font-weight:100;
}

@media (max-width: 650px) {
    #nav-bar {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    #nav-bar li {
      padding-bottom: 5px;
    }
  }

@media (max-width: 650px) {
    nav > ul {
      flex-direction: column;
    }
}

a{
    text-decoration:none;
    color:#25271c;
}

#get-info{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:0;
    flex-direction: column;
    height:300px;
}

#get-info >h2{
    margin:30px auto;
    font-weight:bold;
    font-size: 40px;
    color:#25271c;
    margin-top:100px;
}

#get-info input[type='email']{
    max-width:300px;
    width:100%;
    padding:5px;
    border:3px solid #e13737;
    margin-bottom:10px;
    margin-left:120px;
    color:#25271c;
}

#get-info input[type='submit']{
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin-top:10px;
  margin-left:190px;
  color:#25271c;
  font-weight:bold;
  border: 2px solid #25271c;
  background-color: #e13737;
}

@media (max-width: 650px) {
    #get-info {
      margin-top: 120px;
    }

    #get-info > h2{
        margin:10px auto;
    }
  }

#what-you-get{
    margin-top:30px;
}

#what-you-get .row{
    display:flex;
    /* margin-left:400px; */
    margin-bottom:50px;
}

#what-you-get .icon{
    color: #e43935;
    display: flex;
    justify-content:center;
    align-items:center;
    height:80px;
    width:15vw;
}

#what-you-get .desc{
    color:#25271c;
    display:flex;
    flex-direction:column;
    height:75px;
    width:40vw;
    justify-content:center;
}

@media (max-width: 550px) {
    #what-you-get .icon {
      display: none;
    }
  }

  @media (max-width: 550px) {
    #what-you-get .desc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }
  
  @media (max-width: 650px) {
    #what-you-get {
      margin-top: 0;
    }
  }
#middle{
    display:flex;
    justify-items:space-evenly;
}

#a-glimpse .container{
  position: relative;
  overflow: hidden;
  max-width:520px;
  width: 100%;
  padding-top: 50px;
}

#a-glimpse #video{
    border:10px solid #e43935;
}

#packages{
    display:flex;
    justify-content: space-around;
    flex-direction:row;
    margin-top:20px;
    align-items:center;
}

#packages .package{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border:5px solid #e43935;
    width:calc(100% / 3); 
    margin:70px;
}

#packages .place{
    background:linear-gradient(180deg,#e43935 60%,white);
    width:100%;
    text-align:center;
    padding:10px;
    font-size:30px;
    color:#25271c;
    text-transform: uppercase;
}

#packages #jeju-island{
    background:url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0d/79/46/9e/caption.jpg?w=600&h=400&s=1);
    background-repeat:no-repeat;
    background-size:cover;

}

#packages #jeonju{
    background:url(https://media.tacdn.com/media/attractions-splice-spp-674x446/0b/88/74/49.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

#packages #damyang{
    background:url(https://i2.wp.com/thetlist.net/wp-content/uploads/2016/03/damyang1.jpg?fit=640%2C471);
    background-repeat:no-repeat;
    background-size:cover;
}

#packages .package h2{
    margin:10px auto;
    font-size:25px;
    color:black;
}

#packages .package .benefits{
    display:flex;
    flex-direction:column;
    color: black;
    font-weight: thin;
}

.benefits .benefit{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size:15px;
}

.benefits .benefit:first-of-type{
    padding-top:20px;
}

.package .btn{
    background-color: #e13737;
    border:3px solid white;
    margin-top: 10px;
    padding:10px;
    font-weight:bold;
    color:white;
    margin-bottom:10px;
}

@media (max-width: 800px) {
    #packages {
      flex-direction: column;
    }
    .package {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
footer{
    background-color:#e13737;
    display: flex;
    flex-direction:column;
    height: 75px;
    padding:10px;
    justify-content: flex-end;
    align-items: flex-end;
    font-size:15px;
}

.footer > a{
    margin-left:15px;
}

